
/* Global styles */

body {
  margin: 0;
  color: #282c34;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MDB styles */

.btn {
  text-transform: none;
}